body {
    margin: 0;
    padding: 0;
    background-image: url("images/background.jpg");
    background-size: cover;
    font-family: 'Grenze Gotisch', cursive;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    gap: 450px;
    font-size: 1.8rem;
    background-color:#071108;
    width: 100%;
    height: 8%;
    color: #DBD4D3;
}

.navbar {
    display: flex;
    gap: 50px;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    color: #F0F7F4;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.restaurant-name {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #DBD4D3;
}

.info {
    color: white;
}

.hero {
    font-size: 4rem;
    font-weight: bold;
}

.small {
    font-size: 2rem;
    color: #95A3A4;
}

#order {
    width: 140px;
    height: 50px;
    font-size: 1.4rem;
    appearance: none;
    background-color: #3C3C3C;
    color: #F0CF65;
    border-radius: 8px;
    border: 2px solid #1E1D1D;
}