body {
    margin: 0;
    padding: 0;
    background-image: url("./images/background.jpg");
    background-size: cover;
    font-family: 'Grenze Gotisch', cursive;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    gap: 450px;
    font-size: 1.8rem;
    background-color:#071108;
    width: 100%;
    height: 8%;
    color: #DBD4D3;
}

.navbar {
    display: flex;
    gap: 50px;
    align-items: center;
}

.main {
    background-color: rgba(7, 7, 7, 0.6);
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    color: #F0F7F4;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.restaurant-name {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #DBD4D3;
    cursor: pointer;
}

.info {
    color: white;
}

.hero {
    font-size: 4rem;
    font-weight: bold;
    color: orange;
}

.small {
    font-size: 2rem;
    color: #95A3A4;
}

#order {
    width: 140px;
    height: 50px;
    font-size: 1.4rem;
    appearance: none;
    background-color: #3C3C3C;
    color: #d6b750;
    border-radius: 8px;
    border: 2px solid #1E1D1D;
    transition-duration: 0.2s;
}

#order:hover {
    transform: scale(1.1);
    background-color: #373636;
}

.info {
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 40px;
    color: rgb(191, 132, 23);
}

.location, .hours {
    display: flex;
    flex-direction: column;
}

.menu {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    column-gap: 200px;
    margin-bottom: 8%;
}

.food {
    height: 200px;
    width: 300px;
    background-color: rgba(7, 7, 7, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border: 5px solid grey;
    border-radius: 8px;
}

.food-name {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
}


.ingridients {
    color: rgba(255, 255, 255, 0.729);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-food {
    margin-top: -30px;
    height: 150px;
    width: 150px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.price {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    color: orange;
}

.contactsInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 7, 7, 0.6);
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 300px;
}

.contactsInfo > h2 {
    color: white;
    font-size: 3rem;
}